<app-toast></app-toast>

<div [ngSwitch]="gameService.view">
  <div *ngSwitchCase="'home'"><app-home></app-home></div>
  <div *ngSwitchCase="'lobby-host'"><app-lobby-host></app-lobby-host></div>
  <div *ngSwitchCase="'lobby-player'"><app-lobby-player></app-lobby-player></div>
  <div *ngSwitchCase="'game-host'"><app-game-host></app-game-host></div>
  <div *ngSwitchCase="'game-player'"><app-game-player></app-game-player></div>
  <div *ngSwitchCase="'scoreboard'"><app-scoreboard></app-scoreboard></div>
  <div *ngSwitchCase="'cards'"><app-cards></app-cards></div>
</div>