<button
  class="shadow-offset bg-secondary-500 font-medium hover:bg-secondary-600 active:shadow-noOffset active:translate-y-2 ease-in-out duration-100"
  [ngClass]="{
    'rounded-2xl': size === 'big',
    'rounded-xl': size === 'small',
    'text-xl sm:text-2xl': size === 'big',
    'text-base sm:text-lg': size === 'small',
    'py-4': size === 'big',
    'py-3': size === 'small',
    'px-10': size === 'big' && !icon,
    'px-4': icon,
    'px-8': size === 'small' && !icon,
    'min-w-80 sm:w-96': fixedWidth
  }">
  <img [src]="'../../../assets/icons/'+ icon" *ngIf="icon" class="size-6">
  {{label}}</button>