<div class="w-1/2 p-8 absolute left-5 top-3 bg-slate-600 flex justify-center flex-col">
  <h2 class="text-white text-center text-bold text-2xl">Crea partita</h2>


  <div class="mb-8">
    <h3 class="text-white text-bold text-lb">Cosa può far vincere?</h3>
    <input type="checkbox" id="ambo">
    <label>Ambo</label>
    <br>
    <input type="checkbox" id="terno">
    <label>Terno</label>
    <br>
    <input type="checkbox" id="cinquina" checked>
    <label>Cinquina</label>
    <br>
    <input type="checkbox" id="decina" checked>
    <label>Decina</label>
    <br>
    <input type="checkbox" id="tombola" checked>
    <label>Tombola</label>
  </div>

  <div class="mb-8">
    <h3 class="text-white text-bold text-lb">Giocatori massimi</h3>
    <input type="number" value="10" id="maxPlayers">
  </div>

  <div class="mb-8">
    <h3 class="text-white text-bold text-lb">Cartelle per giocatore</h3>
    <label>Min</label>
    <input type="number" value="1" id="minCardsPerPlayer">
    <br>
    <label>Max</label>
    <input type="number" value="10" id="maxCardsPerPlayer">
  </div>

  <input placeholder="Il tuo username" value="HOST!" id="hostUsername" />
  <button class="w-1/2 py-4 px-8 bg-white" (click)="createGame()">Crea partita</button>
</div>